name: Frontend Workshop CI

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'chore/**'
      - main

jobs:
  lint-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: echo "Hello, World!"
      - name: set up Node.js to use version 24.x
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint
  build-job:
    runs-on: ubuntu-latest
    needs: lint-job
    steps:
      - uses: actions/checkout@v5
      - run: echo "Hello, World!"
      - name: set up Node.js to use version 24.x
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
        
      - name: Build project
        run: npm run build